*{
    margin: 0px;
    padding: 0px;
}
h2, h1{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    box-shadow: black;
}
p{
    color:black;
}
h4{
    color: black;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('abstract-1613514963881-7962.jpg');
    background-size: cover;
}
.contenitore-principale{
    background: linear-gradient(250deg,rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
}
.container-left{
    background: linear-gradient(250deg,rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    border-radius: 20px 20px 0px 20px;
}
.profile-img{
    background-image: url('PowerPeople_Christopher003.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px auto;
    border: 3px solid rgba(255,255,255,0.5);
}
.sponsor{
    height: 120px;
    background: rgb(255,255,255);
    background: linear-gradient(141deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    border-radius: 20px;
}
.quadrato{
    background: linear-gradient(250deg,rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    width: 90px;
    height: 90px;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    left: 50px;
    top: 15px;
    transition: width 0.5s, height 0.5s;
}
.quadrato:hover{
    width: 110px;
    height: 110px;
}
.rettangolo{
    background: linear-gradient(250deg,rgba(255,255,255,0.4), rgba(255,255,255,0.1));
    width: 600px;
    height: 120px;
    border-radius: 20px;
    z-index: 1;
}
.rettanglo, h4, p{
    padding-left: 70px;
}
.progress{
    max-width: 400px;
    margin-left: 70px;
    /* margin-bottom: 20px; */
}
.bg-custom{
    background: linear-gradient(90deg, rgba(172,44,126,1) 0%, rgba(34,76,150,1) 100%);
}
.bg-custom1{
    background-color:rgba(255, 255, 255, 0.2) !important;
}
.search{
    color: white;
    width: 300px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 20px;
    padding-top: 4px;
    padding-left: 10px;
    margin-top: 20px;
}
i{
    background: -webkit-linear-gradient(#5BA0D4, #6AF6C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition: font-size 0.5s;
}
i:hover{
    font-size: 36px;
}
.icon-app{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.percent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    float: right;
    position: relative;
    right: 30px;
    top: -70px;
}
.svg{
    width: 80px;
    padding-top: 20px;
}
.text-sponsor{
    padding-top: 30px;
    padding-left: 15px;
    color: white;
}
.ico{
    float: right;
    position: relative;
    top: 5px;
    left:-10px;
}

/* MEDIA QUERY */
@media screen and (max-width: 400px){
    .rettangolo{
        margin-left: 30px;
        max-width: 300px;
    }
    body{
        width: 100%;
    }
    .contenitore-principale{
        width: 100%;
        height: 100%;
        padding-left: 20px ;
    }
    .search{
        width: 200px;
    }
    p, h4{
        padding-left: 20px;
    }
    .progress{
        margin-left: 10px;
        margin-right: 10px
    }
    .percent{
        top:-80px;
    }
    .profile-img{
        width: 200px;
        height: 200px;
    }
    .container-right{
        width: 100%;
        height: 100%;
        margin-bottom: 80px;
    }
    .container-left{
        margin-bottom: 100px;
        height: 100%;
    }
    .svg{
        position: relative;
        width: 150px;
        top: -80px;
        left: 0px;
    }
    .fa-2x{
        font-size: 100px;
    }
}




